// Global styles & helper classes
// for all the project

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  background-color: $veryLightGray;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

// Containers
.container {
  margin: 0 auto;
  @include breakpoint-down(small) {
    width: 19.375rem;
  }
  
  // @include breakpoint-up(large) {
  //   width: 69.6875rem;
  //   background-color: pink;
  // }
}

// Visibility
.hide-in-mobile {
  // hide content in mobile devices
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-in-desktop {
  // hide content in desktop devices
  @include breakpoint-up(large) {
    display: none;
  }
}