.header {
  margin: 0 auto;
  max-width: 31.875rem;
  padding: 4.0625rem 0;
  text-align: center;
  line-height: 1.5;
  &__heading {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 200;
    color: $veryDarkBlue;
    span {
      font-weight: 600;
    }
    @include breakpoint-up(medium) {
      font-size: 2.25rem;
    }
  }
  &__text {
    font-size: 0.9375rem;
    font-weight: 400;
    color: $grayishBlue;
  }
}