html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #fafafa;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 40em) {
  main {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 45rem;
  }
}

@media (min-width: 64em) {
  main {
    max-width: 66.875rem;
  }
}

@media (min-width: 87.5em) {
  main {
    max-width: 74.375rem;
  }
}

footer {
  text-align: center;
}

.container {
  margin: 0 auto;
}

@media (max-width: 39.9375em) {
  .container {
    width: 19.375rem;
  }
}

.header {
  margin: 0 auto;
  max-width: 31.875rem;
  padding: 3.125rem 0;
  text-align: center;
}

.header__heading {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 200;
  color: #4c4e61;
}

.header__heading span {
  font-weight: 600;
}

@media (min-width: 40em) {
  .header__heading {
    font-size: 2.25rem;
  }
}

.header__text {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #a3a5ae;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "title" "text" "image";
  gap: 0.3125rem;
  width: 19.375rem;
  padding: 1.875rem;
  margin-bottom: 1.875rem;
  border-radius: 0.25rem;
  border-top: 0.3125rem solid;
  background-color: #fff;
  -webkit-box-shadow: 0px 0.625rem 0.9375rem 0.1875rem rgba(163, 165, 174, 0.3);
          box-shadow: 0px 0.625rem 0.9375rem 0.1875rem rgba(163, 165, 174, 0.3);
}

@media (min-width: 87.5em) {
  .card {
    width: 21.875rem;
  }
}

.card__heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  margin: 0;
  font-size: 1.375rem;
  font-weight: 600;
  color: #4c4e61;
}

.card__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  margin-top: 0;
  margin-bottom: 1.875rem;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #a3a5ae;
}

.card__image {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: image;
  -ms-grid-column-align: end;
      justify-self: end;
  max-width: 64px;
}

.card--cyan {
  border-color: #45d3d3;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.card--red {
  border-color: #ea5353;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.card--orange {
  border-color: #fcaf4a;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (min-width: 64em) {
  .card--orange {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.card--blue {
  border-color: #549ef2;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media (min-width: 64em) {
  .card--blue {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (min-width: 64em) {
  .card--shift-down {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
/*# sourceMappingURL=style.css.map */